
.icon-user:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e801'; } /* '' */
.icon-duckduckgo:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
