body
{
background-color:#303030;
color:#ffffff;
font-family: verdana;
font-size: 20px;
text-align: center;
}

#zegar
{
	font-size:70px;
	letter-spacing: 3px;
	margin: 15px 0px;
}

.tile1
{
	height:142px;
	background-color: #3095d3;
	margin-bottom: 30px;
}

.tile1:hover
{
	background-color:#0062a0;
}

.tile1a
{
	height:142px;
	background-color: #3095d3;
	margin-bottom: 30px;
}

.tile1a:hover
{
	background-color:#0062a0;
}

.tile2
{
	height:142px;
	background-color: #666666;
	margin-bottom: 30px;
}

.tile2:hover
{
	background-color:#444444;
}

.tile3
{
	height:142px;
	background-color: #93c748;
	margin-bottom: 30px;
}

.tile3:hover
{
	background-color:#60a415;
}

.tile4
{
	height:142px;
	color: #ffd700;
	background-color: #000000;
	font-size:24px;
	margin-bottom: 30px;
}

.tile4:hover
{
	color:#ffff33;
	font-size:26px;
}

.tile5
{
	height:314px;
	border: 1px solid silver;
	margin-bottom: 30px;
}

.tile6
{
	height:142px;
	background-color: #d94348;
	margin-bottom: 30px;
}

.tile6:hover
{
	background-color:#a61015;
}

.tile7
{
	height:142px;
	background-color: #4668b3;
	margin-bottom: 30px;
}

.tile7:hover
{
	background-color:#1335a0;
}

.tile8
{
	height:142px;
	background-color:#bdbdbd;
	margin-bottom: 30px;
}

.tile8:hover
{
	background-color:#999999;
}

.tile9
{
	height:142px;
	background-color: #e24329;
	margin-bottom: 30px;
}

.tile9:hover
{
	background-color:#b01006;
}

a.tilelink
{
	color:#ffffff;
	text-decoration:none;
	display: block;
	height:142px;
}

.container img
{
	width: 100%;
	height: 100%;
}

.rectangle
{
	margin-bottom: 20px;
	margin-top: -20px;
}

.row
{
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 768px)
{
	.row
	{
		width: 100%;
		float: auto;
	}

	#zegar
	{
		font-size:50px;
		letter-spacing: 2px;
		margin: 10px 0px;
	}
}

@media (max-width: 992px)
{
	.tile5
	{
		height:142px;
		border: 1px solid silver;
		margin-bottom: 30px;
	}
}


@media (max-width: 768px)
{ 
	.tile5
	{
		height:314px;
		border: 1px solid silver;
		margin-bottom: 30px;
	}
}